@{
    ViewData["Title"] = "Home Page";
}

 <header>
        <div class="text-center">
            <h1>Welcome</h1>
            <p><a href="home/registration">Registration</a></p>
            </div>
     </header>