
@{
    ViewData["Title"] = "Registration";
}

<h1>Registration</h1>

<p>Please use the forms below to enter the following data:</p>
<form action="/home/results">
   <p>First Name: <input type="text" name="firstName"/></p>
   <p>Last Name:  <input type="text" name="lastName"/></p>
   <p>Email:    <input type="text" name="eMail"/></p>
   <p>Password: <input type="text" name="password"/></p>
    <input type="submit"/>
</form>

